/* ucb-default-basic
 *
 *
 *
 */
#header {
	background: #383a7a  url(img/berkeley_header-bg.png) repeat-x;
	height: 35px;
	border-bottom: 3px solid #ebb71b;
} 

body.front-page h1#header, body.front h1#header {
	background: #383a7a  url(img/berkeley_header-front-page-bg.png) repeat-x;
}

a {
    color: #292e74;
}

a:visited {
    color: #292e74;
} 

p a,
p a:visited {
    color: #292e74;
    border-bottom: 1px solid #cccccc;
}

.menu-full a h4 {
		color: #292e74;
	}
	
.menu-button a {
		color: #292e74;
}

li a, 
li a:visited {
		color: #292e74;
		border: none;
}
/*
a.button-full,
div.button-full a {
	color: #292e74;
} 

a.button-full:hover,
a.button-full:focus,
a.button-full:active,
div.button-full a:hover,
div.button-full a:focus,
div.button-full a:active{
	color: #292e74;
}
*/
a.button,
div.button a, 
a.button-full,
div.button-full a {
	background-color: #383A7A ;
	color: #fff;
	font-size: .9em;
	font-weight: bold;
	border: none;
}

a.button-full:hover,
a.button-full:focus,
a.button-full:active,
div.button-full a:hover,
div.button-full a:focus,
div.button-full a:active,
a.button-full.button-light:hover,
a.button-full.button-light:focus,
a.button-full.button-light:active,
div.button-full a.button-light:hover,
div.button-full a.button-light:focus,
div.button-full a.button-light:active {
	background-color: #1F2252  !important;
	color: #fff;
}

form.form-full > input[type=submit]:active,
form.form-full > input[type=reset]:active,
form.form-full > input[type=submit]:focus,
form.form-full > input[type=reset]:focus,
form.form-full > input[type=submit]:hover,
form.form-full > input[type=reset]:hover {
    background-color: #f6f6f6;
	color: #292e74;
}

.content-button a {
	color: #292e74;
	font-weight: bold;
}

#breadcrumbs a {
	text-decoration: none;
	color: #292e74;
}

.footer-item-divider:after
{
	content:" | ";
	padding: 0% 1.5% 0% 1.5%;
}

.thumbnail {
    border: medium none;
    float: right;
    margin-left: 0.6em;
	max-height: 60px;
}

li .thumbnail {
    margin-right: 5%;
}

.image-wrapper {
    overflow: auto;
}

/*-------------------------------------------------
  Headings
  ------------------------------------------------

.menu-full > h2 {
    background: #efefef;
    color: #000;
    margin: 0;
    padding: .4em 0 .4em 0;
    text-align: center;
}

.menu-full > h2.light {
    background-color: #f6f6f6;
    color: #555;
}

.menu-full > h2.blue {
    background-color: #809FE2;
    color: #fff;
}

h2 { font-size: 1.2em; font-weight: bold; } */


/**
 * Forms
 * undo some of the MWF 1.3 css
 */

#ucbsearchform, #contactForm {
	padding:0;
}

.field {
	padding:0;
	margin:0;
	border: none;
}

#ucbsearchbutton, #ucbsearchtext, #full_name, #email, #question, #search-box, #search-button {
    display: inline;
	width: auto;
	margin:0;
	padding:4px;
}

form#search-by-date-form select  {
	display: inline;
	width:25%;
}

form#search-form label, form#search-by-date-form label {
	text-align:inherit;
	display:inline;
}


.menu > ul > li, .menu > ol > li {
    text-align: left; /* undo MWF 1.3 css */
}

