/* ucb-default-webkit
 *
 *
 *
 */


/********************************************************
 * BUTTONS
 *******************************************************/

a.button-full,
div.button-full a {
    background: -webkit-gradient(linear, left top, left bottom, from(#4c4e9a), to(#383a7a), color-stop(1, #fff));
    -webkit-background-origin: padding-box;
    -webkit-background-clip: padding-box;
}

a.button-full:hover,
a.button-full:focus,
a.button-full:active,
div.button-full a:hover,
div.button-full a:focus,
div.button-full a:active,
a.button-full.button-light:hover,
a.button-full.button-light:focus,
a.button-full.button-light:active,
div.button-full a.button-light:hover,
div.button-full a.button-light:focus,
div.button-full a.button-light:active{
    background: -webkit-gradient(linear, left top, left bottom, from(#1c2773), to(#0f184e), color-stop(1, #fff));
    -webkit-background-origin: padding-box;
    -webkit-background-clip: padding-box;
}

/*-------------------------------------------------
  Headings
  ------------------------------------------------

.menu-full > h2 {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5), color-stop(1, #fff));
        -webkit-background-origin: padding-box;
        -webkit-background-clip: padding-box;
}

.menu-full > h2.light {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5), color-stop(1, #fff));
        -webkit-background-origin: padding-box;
        -webkit-background-clip: padding-box;
}

.menu-full > h2.blue {
    background: -webkit-gradient(linear, left top, left bottom, from(#809FE2), to(#637CB0), color-stop(1, #fff));
}
*/